<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/shared2.css" />
    <link rel="stylesheet" href="styles/places2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <title>Catalog of restaurants</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <ul>
        <li>
          <img src="/images/verde.jpg" alt="Verde Image">
          <div class="item-content">
            <div>
              <h2>VERDE</h2>
              <p>
                Verde is a new restaurant located on the ground floor of the GRAND MILDOM hotel. A conceptual themed restaurant allows guests to immerse themselves in the atmosphere of an oasis.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/verde"
                >Explore &#x2192;
              </a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/paradise.jpg" alt="Paradise" />
          <div class="item-content">
            <div>
              <h2>PARADISE</h2>
              <p>
                The Paradise restaurant chain has existed in the city for several years, and is loved by city residents due to its wide range of menus and affordable prices.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/paradise"
                >Explore &#x2192;</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="/images/kultura.jpg" alt="Kultura" />
          <div class="item-content">
            <div>
              <h2>KULTURA</h2>
              <p>
                Kultura is a resto-bar with a panoramic terrace, where you will find:
              </p>
              <p>
                - performances
              </p>
              <p>
                - show program
              </p>
              <p>
                - music from DJ
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/kultura-1"
                >Explore &#x2192;</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="/images/banollo.jpg" alt="Banollo" />
          <div class="item-content">
            <div>
              <h2>BANOLLO</h2>
              <p>
                
The colorful Baroque-style restaurant focuses on serving Italian pasta, which can be paired with sauces. The menu has a “green menu” section for those who adhere to proper nutrition.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restoran-banollo">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/tarih.jpg" alt="Tarih restaurant" />
          <div class="item-content">
            <div>
              <h2>TARIH</h2>
              <p>
                Tarih prepares national dishes in a modern way, taking care of traditions. The restaurant opened with goal of showing people that Kazakh cuisine can be served in accordance with new trends.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restoran-tarih-restaurant"
                >Explore &#x2192;</a
              >
            </div>
          </div>
        </li>
        <li>
          <img
            src="/images/sandyq.jpg"
            alt="Sandyq"
          />
          <div class="item-content">
            <div>
              <h2>SANDYQ</h2>
              <p>
                This is a gastronomic project of Kazakh cuisine. The menu will surprise you with national dishes that will definitely delight Kazakh experts.

              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restoran-nacionalnoy-kuhni-sandyq"
                >Explore &#x2192;</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="/images/uchlagan.jpg" alt="Uch-Lagan" />
          <div class="item-content">
            <div>
              <h2>UCH-LAGAN</h2>
              <p>
                For Uzbek dishes and a pleasant view, you can come to Uch Lyagan. The establishment positions itself as a restaurant of Uzbek cuisine.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restoran-uch-lyagan">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/bastet.jpg" alt="Bastet" />
          <div class="item-content">
            <div>
              <h2>BASTET</h2>
              <p>
              If you wanted to spend an evening like the ancient Egyptian aristocracy, then the richly decorated interior, coupled with other pleasant features of the establishment, will undoubtedly delight you.
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restobar-bastet-1"
                >Explore &#x2192;</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="/images/len.jpg" alt="len" />
          <div class="item-content">
            <div>
              <h2>LEN</h2>
              <p>
                LEN Restaurant specializes in serving Mediterranean cuisine. Here you can find dorado ceviche, Balkan-style halibut, frutti di mare pasta - and all this with a glass of sparkling wine!
              </p>
            </div>
            <div class="actions">
              <a href="https://sxodim.com/almaty/place/restoran-len">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        
      </ul>
    </main>
    
  </body>
</html>